body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.dark {
    color: #2e2f42;
}

.light {
    color: #F4F4FD;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Common styles */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-logo {
    margin-right: 76px;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    font-weight: 500;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    color: #404bbf;
}

address {
    margin-left: auto;
}

.header-adress {}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-item {}

.header-adress-link {
    font-family: inherit;
    color: inherit;
}

.header-adress-link:hover,
.header-adress-link:active,
.header-adress-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

/* .hero-container {
    width: 1158px;
    padding-right: 316px;
    padding-left: 316px;
} */

.hero-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.hero-btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-right: auto;
    margin-left: auto;
}

.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    background-color: #404bbf;
}


.features {
    padding-top: 120px;
    padding-bottom: 120px;
}


.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4)
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-text {}


.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 3 * 24px) / 4)
}

.team-wrapper {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    margin-bottom: 8px;
}

.team-text {}


.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-wrapper {
    /* margin: 32px 172px 32px 16px; */
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-text {}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}